.modal-header {
  text-align: center;
}

.modal-body {
  padding: 20px;
}

.modal-body .form-group {
  width: 100%;
  margin: 20px 0;
}

.modal-body .btn {
  width: 100%;
  margin: 0 0 20px 0;
  background: #34495e;
  color: #fff;
  text-shadow: none;
}
